body {
	font-family: "맑은 고딕", "고딕", "굴림", sans-serif;
}

form fieldset {
	margin: 10px 0;
}

form legend {
	font-size: 18px;
	color: #0066FF;
	font-weight: 600;
}

form label.reg {
	font-size: 14px;
	width: 120px;
	float: left;
}

form label em {
	font-size: 15px;
	color: red;
	font-weight: 800;
}

form ul li {
	list-style: none;
	margin: 10px 0;
}

form fieldset.send_form {
	text-align: center;
}
